@font-face {
    font-family: "AbrilFatface-Regular";
    src: url("fonts/AbrilFatface-Regular .ttf");
 }
  @font-face{
    font-family: "DancingScript";
    src: url("fonts/DancingScript-VariableFont_wght.ttf");
  }

  header {
    border: solid .1px transparent;
    margin: 2.5vh 0;
  }
  .navlinks a{
    color: rgba(225, 225, 225, 1);
    font-size: 1.5em;
    text-decoration: none;
  }
  .navlinks h1{
    margin: auto;
  }
  .navlinks>*{
    margin: auto;
    min-width: 100px;
    width: 20vw;
  }
  .navlinks{
    display: flex;
    margin: 0 10vw;
    text-align: center;
  }



  h2{
    color: white;

  }
h1{
    color: white;
    font-family: "AbrilFatface-Regular" ;

}
body{
    background-color: black;
    margin-left: 170px;
}
.btnptj{
   background: black;
    color: white;
    margin-left: 200px;
    margin-top: 100px;
    width: 500px;
    height: 50px;
}
.djn{
    background: black;
    color: white;
    margin-left: 200px;
    margin-top: 100px;
    width: 500px;
    height: 50px;
}
.dnr{
    background: black;
    color: white;
    margin-left: 200px;
    margin-top: 100px;
    width: 500px;
    height: 50px;
}
.ecs{
    background: black;
    color: white;
    margin-left: 200px;
    margin-top: 100px;
    width: 500px;
    height: 50px;
}
.mnu{
    font-family: DancingScript "Trebuchet MS", Verdana, sans-serif;;
}

