/* reset */
footer {
    margin: 10px;
    padding: 15px;
}


/* base */

p{
    color: #000;
}
a{
    color: #ffa200;
    color:linear-gradient(to right, #ffa200, #ffbe01);
}


/*  button */
.btn-yellow {
    
    background-color: #ffa200 !important;
    background: linear-gradient(to right, #ffa200, #ffbe01);
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 50px;
    
}
.btn-brun {
    background-color: #fff7df;
    color: #ffa200 !important;
}


/* content */



#content {
    background-color: #fff7df;
    max-height: 950px;
    height: 950px;
}

/* header */
.logo {
    margin-right: 100px;
}
.nav-h {
    line-height: 100px;
}
.logo, .nav-h {
    height: 150px;
}
.nav-h li {
    width: auto;
}
.nav-h li > a {
    font-weight: bold;

}
.nav-h li a:hover, .nav-h li a:active {
    font-weight: bold;
    text-decoration: underline solid #ffa200 2px;
    text-underline-offset: 1em;
    color: white;
}
.nav-h li a.btn:hover {
    text-decoration: none;
}


/* slider */
.slider {
    background: linear-gradient(to right, #ff9d01, #ffb400);
    height: 660px;
    margin-bottom: 5px;
}
.slider h2 {
    font-size: 1.8em;
    font-weight: bold;
}
.slider h2:first-child {
    margin-top: 120px;
}
.slider p {
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slider button {
    margin-top: 5px;
    padding: 20px;
    border-radius: 50px;
    width: 200px;
}
.slider h2, .slider p, .slider button {
    color: #fff7df;
    margin-left: 90px;
}
.slider .btn-slider {
    margin-left: 90px;
    margin-top: 50px;
}


/* content */

#text{
    margin-top: 20px;
    margin-left: 70px;
}

#logoh{
margin-top: 160px;
margin-left: 110px;

}


#lolo{
    margin-top: 00px ;
    margin-left: 70px;

}



#emailFrm{
    border-radius: 40px;
    width: 470px;
    height: 60px;
    margin-left: -110px;
}
.errorchamps{
    background-color: #fcbbcf;
}
.off{
    display: none;
}

#email{
position:absolute;
border-radius: 800px;
margin-top: 300px ;
width: 470px;

}

#decob{
    margin-left:-500px;
    border-radius: 800px;
    width: 1169px;
    height: 424px;
    margin-top:200px ;
}

#bouton{
    color: white;
    font-weight: bold;
    border-radius: 40px;
    width: 470px;
    height: 70px;
    position: absolute;
    margin-left: -140px;
    margin-top: 00px;
}

#formu{
    border-radius:60px ;
    height: 50px;
    margin-right: 140px;
}

.content {
    background-color: #fff7df;
}
.iconeBT {
    display: flex;
    flex-basis: auto;
    flex-wrap: nowrap;
    margin-top: 150px;
    margin-bottom: 120px;
}
.iconeBT img {
    width: 148px;
    height: 129px;
}
.iconeBT img, .iconeBT h3, .iconeBT p {
    margin-left: 110px;
}
.iconeBT p {
    
    color: #000;
}


/* footer */
footer {
    background-color: #262626;
    width: 100%;
    height: 250px;
    color: #fff;
}
footer div.logoFooter {
    background-image: url("image/logo_fond_noir.png");
    background-image: url("image/decoration_bas.png");

    background-repeat: no-repeat;
    height: 75px;
    width: 207px;
    margin-top: 20px;
    margin-bottom: 10px;
}



